IoT_Project/Task 2/Assignment A Group 8a.json
[
    {
        "id": "3f6161ba844a17b6",
        "type": "tab",
        "label": "Group_08a_Assignment_A_part_2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7de7b0e7c25568e6",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Smoke 1",
        "topic": "/task_02h/Smoke_01",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "ae39db64fd6eb1bf"
            ]
        ]
    },
    {
        "id": "ae39db64fd6eb1bf",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.topic= \"Smoke sensor 1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "0852d6f948110564",
                "d6d454b9356a3d21",
                "74f925c0.41ce5c",
                "7b1b7698333bbb1f",
                "c3a68833.c087c8"
            ]
        ]
    },
    {
        "id": "134046808bbb3b0e",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Smoke 2",
        "topic": "/task_02h/Smoke_02",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "d3c983f37bc690f6"
            ]
        ]
    },
    {
        "id": "d3c983f37bc690f6",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.topic=\"Smoke Sensor 2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "f7e2f241866290d9",
                "86dba1855389e31d",
                "7b1b7698333bbb1f",
                "35717a9.5701286",
                "faef7a9a.a97c58"
            ]
        ]
    },
    {
        "id": "d62ead1ba092452c",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Security 1",
        "topic": "/task_02h/Security_01",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "47096f2829289262"
            ]
        ]
    },
    {
        "id": "47096f2829289262",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "91924bb3b60c1bf6",
                "58765622d7b26f44",
                "a9afcc0.75d5f38"
            ]
        ]
    },
    {
        "id": "991c4a682573e920",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Security 2",
        "topic": "/task_02h/Security_02",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "c5dc9a6280550381"
            ]
        ]
    },
    {
        "id": "c5dc9a6280550381",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "1ef436336db1ff8e",
                "5459294eaaf4fe3e",
                "c4bfd1e8.f345d"
            ]
        ]
    },
    {
        "id": "2a5c6909b5c8c40a",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Temparature 1",
        "topic": "/task_02h/Temp_01",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "eeabbb35aa94547f"
            ]
        ]
    },
    {
        "id": "eeabbb35aa94547f",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.topic= \"Temperature Sensor 1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 740,
        "wires": [
            [
                "da6a0c28a9719e02",
                "d9b23ed0269edf0c",
                "f17f04c4ac52ec4c",
                "5e7719c1.fb7f78"
            ]
        ]
    },
    {
        "id": "1c60b9bb547da7f8",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Temparature 2",
        "topic": "/task_02h/Temp_02",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "f900004d7b66c32b"
            ]
        ]
    },
    {
        "id": "f900004d7b66c32b",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.topic= \"Temperature Sensor 2\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 880,
        "wires": [
            [
                "14202fc12032953a",
                "ce414943af5294ec",
                "f17f04c4ac52ec4c",
                "f75647fa.929f58"
            ]
        ]
    },
    {
        "id": "1d918713aef0764d",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Gas 1",
        "topic": "/task_02h/Gas_01",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "2621450952460353"
            ]
        ]
    },
    {
        "id": "2621450952460353",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.topic= \"Gas sensor\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "ad95a9b04f0f4eba",
                "eec3598597d3ef88",
                "cb1ec6fc1fc10e8d",
                "e4cad5d9.ee1b48",
                "e27176af.c2ec78"
            ]
        ]
    },
    {
        "id": "b1b0e07ad41a07b0",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Power 1",
        "topic": "/task_02h/Power_01",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "12884dd334c74738"
            ]
        ]
    },
    {
        "id": "12884dd334c74738",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1120,
        "wires": [
            [
                "92783555350fa40a",
                "4f768df4bea38a51",
                "2f5bf1f92554c263",
                "8cd7a34.dcd8c6"
            ]
        ]
    },
    {
        "id": "a4db190bb218abc2",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Humidity",
        "topic": "/task_02h/Humidity_01",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "08bc5f5db0e10507"
            ]
        ]
    },
    {
        "id": "08bc5f5db0e10507",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.topic = \"Humidity level %\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1240,
        "wires": [
            [
                "13f9d7a7bfd1f5bb",
                "d80a02f42334a56f",
                "86d7f95.603f008",
                "4527977f.957bb8"
            ]
        ]
    },
    {
        "id": "0034f21b57cb7061",
        "type": "mqtt in",
        "z": "3f6161ba844a17b6",
        "name": "Motion",
        "topic": "/task_02h/Motion_01",
        "qos": "2",
        "datatype": "auto",
        "broker": "9a2f337c9de491b3",
        "x": 150,
        "y": 1420,
        "wires": [
            [
                "e60ce8b37c1d661e"
            ]
        ]
    },
    {
        "id": "e60ce8b37c1d661e",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 1420,
        "wires": [
            [
                "bde799628728502b",
                "c79aadd3afa0df69",
                "8d09f1fc.9ac5c"
            ]
        ]
    },
    {
        "id": "3b6282f0bd848d3d",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "1 or 0, (randomly jump)",
        "info": "Binary\n",
        "x": 200,
        "y": 1480,
        "wires": []
    },
    {
        "id": "346a8b1b3a16a567",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "1 or 0 (binary)",
        "info": "Binary\n",
        "x": 150,
        "y": 500,
        "wires": []
    },
    {
        "id": "0852d6f948110564",
        "type": "ui_gauge",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "77afcbb3.ef5624",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Smoke Level 1",
        "label": "ppm",
        "format": "{{value}}",
        "min": "10",
        "max": "800",
        "colors": [
            "#00b500",
            "#f5ab0a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "f7e2f241866290d9",
        "type": "ui_gauge",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "77afcbb3.ef5624",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Smoke Level 2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "10",
        "max": "800",
        "colors": [
            "#00b500",
            "#f5ab0a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "80776be1ef42522c",
        "type": "ui_text",
        "z": "3f6161ba844a17b6",
        "group": "09c305af1a5267f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Annex 1",
        "format": "<font color={{msg.className}}> {{msg.payload}} </font>",
        "layout": "col-center",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "91924bb3b60c1bf6",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "Security check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "caf10ea846786680"
            ],
            [
                "7cfdc4d60b55c5bc"
            ]
        ]
    },
    {
        "id": "caf10ea846786680",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No Security Issues at Annex 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "1949a4f112707935"
            ]
        ]
    },
    {
        "id": "7cfdc4d60b55c5bc",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Security Breach at Annex 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "167e420b01418ca9",
                "6f7de7040f6a3179",
                "c477ba001eea9da3",
                "e03a25ee.13c868"
            ]
        ]
    },
    {
        "id": "d6d454b9356a3d21",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 20,
        "wires": []
    },
    {
        "id": "86dba1855389e31d",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "58765622d7b26f44",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "1ef436336db1ff8e",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "f47eb1d08e81f9f2",
        "type": "ui_text",
        "z": "3f6161ba844a17b6",
        "group": "09c305af1a5267f0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Annex 2",
        "format": "<font color={{msg.className}}> {{msg.payload}} </font>",
        "layout": "col-center",
        "x": 1080,
        "y": 580,
        "wires": []
    },
    {
        "id": "5459294eaaf4fe3e",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "Security check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 580,
        "wires": [
            [
                "eb1b62a381ae0d46"
            ],
            [
                "291fc3b763261ffe"
            ]
        ]
    },
    {
        "id": "eb1b62a381ae0d46",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No Security Issues at Annex 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "a2f3fcb7d31b8130"
            ]
        ]
    },
    {
        "id": "291fc3b763261ffe",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Security Breach at Annex 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 620,
        "wires": [
            [
                "b88d16ff857439f5",
                "3bce67bf93a17728",
                "61756c1914ee2cb2",
                "50858c6d.81b3a4"
            ]
        ]
    },
    {
        "id": "da6a0c28a9719e02",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 660,
        "wires": []
    },
    {
        "id": "d9b23ed0269edf0c",
        "type": "ui_gauge",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "bd35ad1b55ef9de2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temparature Level 1",
        "label": "Celsius ",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 740,
        "wires": []
    },
    {
        "id": "14202fc12032953a",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 820,
        "wires": []
    },
    {
        "id": "ce414943af5294ec",
        "type": "ui_gauge",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "bd35ad1b55ef9de2",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temparature Level 2",
        "label": "Celsius ",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 880,
        "wires": []
    },
    {
        "id": "ad95a9b04f0f4eba",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 920,
        "wires": []
    },
    {
        "id": "eec3598597d3ef88",
        "type": "ui_gauge",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "71847496284d4f49",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gas level Indicator",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 980,
        "wires": []
    },
    {
        "id": "92783555350fa40a",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4f768df4bea38a51",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "accumulate",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar power = context.get('power')||0;\npower += msg.payload;\n// store the value back\ncontext.set('power',power);\n// make it part of the outgoing msg object\nmsg.power = power;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 1160,
        "wires": [
            [
                "0bc6fc357b8bc9db",
                "adae1986.3ebd48"
            ]
        ]
    },
    {
        "id": "2f5bf1f92554c263",
        "type": "ui_gauge",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "5cfcd1af811ee844",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Power",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2f99d21aba496cac",
        "type": "ui_text",
        "z": "3f6161ba844a17b6",
        "group": "5cfcd1af811ee844",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Energy Used",
        "format": "<font color={{msg.className}}> {{msg.power | number: 3}} </font>",
        "layout": "col-center",
        "x": 1210,
        "y": 1180,
        "wires": []
    },
    {
        "id": "13f9d7a7bfd1f5bb",
        "type": "ui_gauge",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "c6cb9c6ad2f31727",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Humidity Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d80a02f42334a56f",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7781fa0db96b1cb6",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "Around 20 when normal, Spikes randomly",
        "info": "",
        "x": 220,
        "y": 160,
        "wires": []
    },
    {
        "id": "d69945c605b43685",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "Room temparature, randomly drop below 10?",
        "info": "",
        "x": 210,
        "y": 820,
        "wires": []
    },
    {
        "id": "655a8f12b0bfd18f",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "Relative humidity 0- 100 %",
        "info": "",
        "x": 210,
        "y": 1300,
        "wires": []
    },
    {
        "id": "a579b2b7031f2b5b",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "Power consumed, not 1 second so not sure. around 100 to 300",
        "info": "",
        "x": 290,
        "y": 1200,
        "wires": []
    },
    {
        "id": "816f4df0fd7928c2",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "Arund 10, 20 sudden rises to values around 90, I saw a 200?",
        "info": "",
        "x": 260,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bde799628728502b",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "Motion check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1420,
        "wires": [
            [
                "f2f3bb713a29281a"
            ],
            [
                "4e4b4e9538dfce6c"
            ]
        ]
    },
    {
        "id": "f2f3bb713a29281a",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No Motion at Annex 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1380,
        "wires": [
            [
                "8e29b23fb5fd0650"
            ]
        ]
    },
    {
        "id": "4e4b4e9538dfce6c",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Motion detected at the Annex",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1460,
        "wires": [
            [
                "4c3539a05667cf62",
                "d742db6b52f3ccc3",
                "f676b579178b4983",
                "11f170f3.4f049f"
            ]
        ]
    },
    {
        "id": "2765ec05913e107d",
        "type": "ui_text",
        "z": "3f6161ba844a17b6",
        "group": "f22a766bb0a52f12",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Annex",
        "format": "<font color={{msg.className}}> {{msg.payload}} </font>",
        "layout": "col-center",
        "x": 1090,
        "y": 1420,
        "wires": []
    },
    {
        "id": "c79aadd3afa0df69",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1500,
        "wires": []
    },
    {
        "id": "b9f5552e623d998f",
        "type": "ui_template",
        "z": "3f6161ba844a17b6",
        "group": "09c305af1a5267f0",
        "name": "Security color",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n.nr-dashboard-text.red{\n    background-color: red;\n}\n.nr-dashboard-text.orange{\n    background-color: orange;\n}\n.nr-dashboard-text.green{\n    background-color: green;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1100,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1949a4f112707935",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Green",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 380,
        "wires": [
            [
                "80776be1ef42522c"
            ]
        ]
    },
    {
        "id": "167e420b01418ca9",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Red",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 460,
        "wires": [
            [
                "80776be1ef42522c"
            ]
        ]
    },
    {
        "id": "a2f3fcb7d31b8130",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Green",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "f47eb1d08e81f9f2"
            ]
        ]
    },
    {
        "id": "b88d16ff857439f5",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Red",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 620,
        "wires": [
            [
                "f47eb1d08e81f9f2"
            ]
        ]
    },
    {
        "id": "6f7de7040f6a3179",
        "type": "ui_toast",
        "z": "3f6161ba844a17b6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "Warning",
        "name": "Notification security",
        "x": 1210,
        "y": 380,
        "wires": []
    },
    {
        "id": "8e29b23fb5fd0650",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Green",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1380,
        "wires": [
            [
                "2765ec05913e107d"
            ]
        ]
    },
    {
        "id": "4c3539a05667cf62",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Red",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1460,
        "wires": [
            [
                "2765ec05913e107d"
            ]
        ]
    },
    {
        "id": "a1fb341548b434a3",
        "type": "ui_template",
        "z": "3f6161ba844a17b6",
        "d": true,
        "group": "f22a766bb0a52f12",
        "name": "Security color",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n.nr-dashboard-text.red{\n    background-color: red;\n}\n.nr-dashboard-text.orange{\n    background-color: orange;\n}\n.nr-dashboard-text.green{\n    background-color: green;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 880,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "d742db6b52f3ccc3",
        "type": "ui_toast",
        "z": "3f6161ba844a17b6",
        "position": "bottom left",
        "displayTime": "3",
        "highlight": "yellow",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "Warning",
        "name": "Notification Motion",
        "x": 970,
        "y": 1520,
        "wires": []
    },
    {
        "id": "3bce67bf93a17728",
        "type": "ui_toast",
        "z": "3f6161ba844a17b6",
        "position": "top left",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "Warning",
        "name": "Notification security",
        "x": 1230,
        "y": 680,
        "wires": []
    },
    {
        "id": "c477ba001eea9da3",
        "type": "ui_audio",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "09c305af1a5267f0",
        "voice": "Microsoft Natasha Online (Natural) - English (Australia)",
        "always": true,
        "x": 1260,
        "y": 440,
        "wires": []
    },
    {
        "id": "61756c1914ee2cb2",
        "type": "ui_audio",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "09c305af1a5267f0",
        "voice": "Microsoft Natasha Online (Natural) - English (Australia)",
        "always": true,
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "f676b579178b4983",
        "type": "ui_audio",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "f22a766bb0a52f12",
        "voice": "Microsoft Natasha Online (Natural) - English (Australia)",
        "always": true,
        "x": 920,
        "y": 1580,
        "wires": []
    },
    {
        "id": "7b1b7698333bbb1f",
        "type": "ui_chart",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "fdc4f014ccaa9c92",
        "order": 7,
        "width": "6",
        "height": "8",
        "label": "Smoke Levels",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting For data",
        "dot": true,
        "ymin": "15",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 900,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f17f04c4ac52ec4c",
        "type": "ui_chart",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "7dcbe8f43d09b3eb",
        "order": 0,
        "width": "6",
        "height": "8",
        "label": "Temperature Sensors",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting for Data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1000,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "cb1ec6fc1fc10e8d",
        "type": "ui_chart",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "a18e364c62035dfc",
        "order": 0,
        "width": "6",
        "height": "8",
        "label": "Gas Levels(ppm)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for Data",
        "dot": true,
        "ymin": "10",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 930,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "7c848a73a611fb04",
        "type": "ui_template",
        "z": "3f6161ba844a17b6",
        "d": true,
        "group": "f22a766bb0a52f12",
        "name": "Security color",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n.nr-dashboard-text.red{\n    background-color: red;\n}\n.nr-dashboard-text.orange{\n    background-color: orange;\n}\n.nr-dashboard-text.green{\n    background-color: green;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 840,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "0bc6fc357b8bc9db",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "Switch",
        "property": "power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "800",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "800",
                "vt": "num",
                "v2": "1500",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 710,
        "y": 1160,
        "wires": [
            [
                "23149573f78e8513"
            ],
            [
                "e04463a2df1b842e"
            ],
            [
                "ca6ed68b95e1fb73"
            ]
        ]
    },
    {
        "id": "23149573f78e8513",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Green",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "Normal",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1140,
        "wires": [
            [
                "2f99d21aba496cac"
            ]
        ]
    },
    {
        "id": "e04463a2df1b842e",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Orange",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "orange",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "Warning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1180,
        "wires": [
            [
                "2f99d21aba496cac"
            ]
        ]
    },
    {
        "id": "ca6ed68b95e1fb73",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "Red",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "Meltdown!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1220,
        "wires": [
            [
                "2f99d21aba496cac"
            ]
        ]
    },
    {
        "id": "538d21e1.b91d4",
        "type": "ui_template",
        "z": "3f6161ba844a17b6",
        "d": true,
        "group": "09c305af1a5267f0",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n.nr-dashboard-text.red{\n    background-color: red;\n}\n.nr-dashboard-text.orange{\n    background-color: orange;\n}\n.nr-dashboard-text.green{\n    background-color: green;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 790,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1f652d28.e62c83",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "About color",
        "info": "Color criteria is there to represent \nRed for security breach, Motion detection and High power usage\nOrange is for moderate energy usage\n\nGreen is for NO security breaches, no motion detection and small energy usage.\n\n#it seems that color is not chaning in raspberry-pi node red",
        "x": 830,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3c904ef.489eeb2",
        "type": "ui_toast",
        "z": "3f6161ba844a17b6",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "Warning",
        "name": "Notification security",
        "x": 1130,
        "y": 920,
        "wires": []
    },
    {
        "id": "2c218578.ec2bfa",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Gas leakage Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 920,
        "wires": [
            [
                "3c904ef.489eeb2",
                "b6791c39.e6297",
                "da7712bd.5e5af"
            ]
        ]
    },
    {
        "id": "b6791c39.e6297",
        "type": "ui_audio",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "71847496284d4f49",
        "voice": "Microsoft Natasha Online (Natural) - English (Australia)",
        "always": true,
        "x": 1080,
        "y": 860,
        "wires": []
    },
    {
        "id": "e4cad5d9.ee1b48",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "Gas level check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 940,
        "wires": [
            [
                "2c218578.ec2bfa"
            ]
        ]
    },
    {
        "id": "1e2bbc5.d806d44",
        "type": "ui_toast",
        "z": "3f6161ba844a17b6",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "Warning",
        "name": "Notification security",
        "x": 1330,
        "y": 220,
        "wires": []
    },
    {
        "id": "eeb7ff91.fb14a",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Smoke detected at Annex 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "1e2bbc5.d806d44",
                "39cdafad.f76b2",
                "b672e338.b151"
            ]
        ]
    },
    {
        "id": "39cdafad.f76b2",
        "type": "ui_audio",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "77afcbb3.ef5624",
        "voice": "Microsoft Natasha Online (Natural) - English (Australia)",
        "always": true,
        "x": 1320,
        "y": 180,
        "wires": []
    },
    {
        "id": "35717a9.5701286",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "Smoke check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "130",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 880,
        "y": 180,
        "wires": [
            [
                "eeb7ff91.fb14a"
            ]
        ]
    },
    {
        "id": "2a5a4502.c2792a",
        "type": "ui_toast",
        "z": "3f6161ba844a17b6",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "Warning",
        "name": "Notification security",
        "x": 1330,
        "y": 60,
        "wires": []
    },
    {
        "id": "38b8a851.81bf18",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Smoke detected at Annex 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 40,
        "wires": [
            [
                "2a5a4502.c2792a",
                "939abb9c.db0768",
                "ff5d04cc.db3228"
            ]
        ]
    },
    {
        "id": "939abb9c.db0768",
        "type": "ui_audio",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "77afcbb3.ef5624",
        "voice": "Microsoft Natasha Online (Natural) - English (Australia)",
        "always": true,
        "x": 1320,
        "y": 20,
        "wires": []
    },
    {
        "id": "74f925c0.41ce5c",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "Smoke check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "130",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 40,
        "wires": [
            [
                "38b8a851.81bf18"
            ]
        ]
    },
    {
        "id": "4ef6bd06.5038d4",
        "type": "e-mail",
        "z": "3f6161ba844a17b6",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "email client",
        "x": 2090,
        "y": 1440,
        "wires": []
    },
    {
        "id": "8b5b10f1.7001d",
        "type": "ui_text_input",
        "z": "3f6161ba844a17b6",
        "name": "Email field ",
        "label": "Typer your desired email",
        "tooltip": "Add your email here",
        "group": "1d7322d740dcf268",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 1880,
        "wires": [
            [
                "d8a750e9.45793"
            ]
        ]
    },
    {
        "id": "8b2bbc1a.4547c",
        "type": "ui_switch",
        "z": "3f6161ba844a17b6",
        "name": "Email enable",
        "label": "Check for emails",
        "tooltip": "Enable for emails",
        "group": "1d7322d740dcf268",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 450,
        "y": 1820,
        "wires": [
            [
                "7e39bb8e.b60074"
            ]
        ]
    },
    {
        "id": "7e39bb8e.b60074",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "switch checks",
        "rules": [
            {
                "t": "set",
                "p": "emsw",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "d8a750e9.45793",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "email sender check",
        "rules": [
            {
                "t": "set",
                "p": "Email",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "ab728189.a47c7",
        "type": "inject",
        "z": "3f6161ba844a17b6",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 200,
        "y": 1840,
        "wires": [
            [
                "8b2bbc1a.4547c",
                "8b5b10f1.7001d"
            ]
        ]
    },
    {
        "id": "2e350aad.972996",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "",
        "property": "emsw",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1730,
        "y": 1500,
        "wires": [
            [
                "ed22b19f.cff83",
                "51e6a73a.dd4e68"
            ]
        ]
    },
    {
        "id": "ed22b19f.cff83",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "",
        "property": "Email",
        "propertyType": "global",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1900,
        "y": 1620,
        "wires": [
            [
                "f50d41a1.8a569"
            ]
        ]
    },
    {
        "id": "f50d41a1.8a569",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "Email",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1620,
        "wires": [
            [
                "4ef6bd06.5038d4"
            ]
        ]
    },
    {
        "id": "51e6a73a.dd4e68",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1420,
        "wires": []
    },
    {
        "id": "5d378b39.c46fb4",
        "type": "link out",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "b9e6012e.00d2d",
            "8f6e5d29.e7bf7"
        ],
        "x": 895,
        "y": 1660,
        "wires": []
    },
    {
        "id": "1b3c0420.f5c7cc",
        "type": "link out",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "b9e6012e.00d2d",
            "1d60f3f4.a6a93c"
        ],
        "x": 1235,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a4e589d6.769f38",
        "type": "link out",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "b9e6012e.00d2d",
            "8f6e5d29.e7bf7"
        ],
        "x": 1035,
        "y": 720,
        "wires": []
    },
    {
        "id": "b2d88bb4.5d94e8",
        "type": "link out",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "b9e6012e.00d2d",
            "1d60f3f4.a6a93c"
        ],
        "x": 1435,
        "y": 340,
        "wires": []
    },
    {
        "id": "4ce11c27.f18274",
        "type": "link out",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "b9e6012e.00d2d",
            "306a7ab1.62ac86"
        ],
        "x": 1435,
        "y": 120,
        "wires": []
    },
    {
        "id": "6216e7b1.a785a8",
        "type": "link out",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "b9e6012e.00d2d",
            "306a7ab1.62ac86"
        ],
        "x": 1095,
        "y": 300,
        "wires": []
    },
    {
        "id": "e03a25ee.13c868",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Annex 1 security",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 300,
        "wires": [
            [
                "6216e7b1.a785a8"
            ]
        ]
    },
    {
        "id": "50858c6d.81b3a4",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Annex 2 security",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 720,
        "wires": [
            [
                "a4e589d6.769f38"
            ]
        ]
    },
    {
        "id": "b672e338.b151",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Annex 2 Smoke",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 280,
        "wires": [
            [
                "b2d88bb4.5d94e8"
            ]
        ]
    },
    {
        "id": "ff5d04cc.db3228",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Annex 1 Smoke",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 120,
        "wires": [
            [
                "4ce11c27.f18274"
            ]
        ]
    },
    {
        "id": "da7712bd.5e5af",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Gas lekage",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 960,
        "wires": [
            [
                "1b3c0420.f5c7cc"
            ]
        ]
    },
    {
        "id": "11f170f3.4f049f",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Motion detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1660,
        "wires": [
            [
                "5d378b39.c46fb4"
            ]
        ]
    },
    {
        "id": "adc44b8e.a7b378",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "",
        "property": "emsw",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1730,
        "y": 1100,
        "wires": [
            [
                "a7744ed7.3ed67",
                "217b8c33.7d8c54"
            ]
        ]
    },
    {
        "id": "a7744ed7.3ed67",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "",
        "property": "Email",
        "propertyType": "global",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1900,
        "y": 1220,
        "wires": [
            [
                "9f405d2c.4179a"
            ]
        ]
    },
    {
        "id": "9f405d2c.4179a",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "Email",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1220,
        "wires": [
            [
                "9fca2244.438e7"
            ]
        ]
    },
    {
        "id": "217b8c33.7d8c54",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1020,
        "wires": []
    },
    {
        "id": "9fca2244.438e7",
        "type": "e-mail",
        "z": "3f6161ba844a17b6",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "email client",
        "x": 2030,
        "y": 940,
        "wires": []
    },
    {
        "id": "65341a43.110444",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "account details",
        "info": "we are using Outlook acoounts\n * dummynodeiot@outlook.com\n * @IoTdummy",
        "x": 2130,
        "y": 1020,
        "wires": []
    },
    {
        "id": "faecbf3c.a520c",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "account details",
        "info": "we are using Outlook acoounts\n * dummyiot@outlook.com\n * Dummy1234",
        "x": 1940,
        "y": 1520,
        "wires": []
    },
    {
        "id": "5fcc1b5e.588774",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "",
        "property": "emsw",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1710,
        "y": 580,
        "wires": [
            [
                "4343ee10.2b8d4",
                "456f94e0.a8633c"
            ]
        ]
    },
    {
        "id": "4343ee10.2b8d4",
        "type": "switch",
        "z": "3f6161ba844a17b6",
        "name": "",
        "property": "Email",
        "propertyType": "global",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1880,
        "y": 700,
        "wires": [
            [
                "69da86eb.412148"
            ]
        ]
    },
    {
        "id": "69da86eb.412148",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "Email",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 700,
        "wires": [
            [
                "cc02bdc1.a370b"
            ]
        ]
    },
    {
        "id": "456f94e0.a8633c",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 500,
        "wires": []
    },
    {
        "id": "cc02bdc1.a370b",
        "type": "e-mail",
        "z": "3f6161ba844a17b6",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "email client",
        "x": 2010,
        "y": 440,
        "wires": []
    },
    {
        "id": "97f18c3d.a1d1b",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "account details",
        "info": "we are using Outlook acoounts\n * dummynodeiot420@outlook.com\n * @IoTdummy",
        "x": 2110,
        "y": 500,
        "wires": []
    },
    {
        "id": "8f6e5d29.e7bf7",
        "type": "link in",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "a4e589d6.769f38",
            "5d378b39.c46fb4"
        ],
        "x": 1525,
        "y": 1540,
        "wires": [
            [
                "2e350aad.972996"
            ]
        ]
    },
    {
        "id": "1d60f3f4.a6a93c",
        "type": "link in",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "b2d88bb4.5d94e8",
            "1b3c0420.f5c7cc",
            "af4781d.adb9d8"
        ],
        "x": 1575,
        "y": 1100,
        "wires": [
            [
                "adc44b8e.a7b378"
            ]
        ]
    },
    {
        "id": "306a7ab1.62ac86",
        "type": "link in",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "4ce11c27.f18274",
            "6216e7b1.a785a8"
        ],
        "x": 1555,
        "y": 580,
        "wires": [
            [
                "5fcc1b5e.588774"
            ]
        ]
    },
    {
        "id": "c3a68833.c087c8",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "smk1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "faef7a9a.a97c58",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "smk2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a9afcc0.75d5f38",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sec1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c4bfd1e8.f345d",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sec2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5e7719c1.fb7f78",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "f75647fa.929f58",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e27176af.c2ec78",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gas",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "8cd7a34.dcd8c6",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cpow",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "adae1986.3ebd48",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tpow",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "86d7f95.603f008",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hym",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "8d09f1fc.9ac5c",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mtn",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "e02e594c.50b4e8",
        "type": "ui_button",
        "z": "3f6161ba844a17b6",
        "name": "",
        "group": "41e8c806.ff1b68",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "Send the report to above email",
        "color": "cyan",
        "bgcolor": "green",
        "icon": "send",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1250,
        "y": 1920,
        "wires": [
            [
                "24bc5b65.05d7c4"
            ]
        ]
    },
    {
        "id": "24bc5b65.05d7c4",
        "type": "function",
        "z": "3f6161ba844a17b6",
        "name": "",
        "func": "msg.payload = \"Annex 1 Smoke level(ppm):- \" +  global.get(\"smk1\") + \"\\n\" + \"Annex 2 Smoke level(ppm):- \" + global.get(\"smk2\") +\"\\n\" + \"Annex 1 Security Issues :- \" + global.get(\"sec1\") +\"\\n\" + \"Annex 2 Security issues :- \" + global.get(\"sec2\") +\"\\n\" + \"Annex 1 Temperature :- \" + global.get(\"temp1\") +\" C\" +\"\\n\" + \"Annex 2 Temparature :- \" + global.get(\"temp2\") +\" C\" +\"\\n\" + \"LPG gas leakage(ppm) :- \" + global.get(\"gas\") +\"\\n\" + \"Last reported energy compsumpltion (J)  :- \" + global.get(\"cpow\") +\"\\n\" + \"Total Energy consumption :- \" + global.get(\"tpow\") +\"\\n\" + \"Humidity Level (%) :- \" + global.get(\"hym\") +\"%\" +\"\\n\" + \"Motion detecting status :- \" + global.get(\"mtn\") +\"\\n\";\nmsg.topic=\"The Last Total Summery\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1420,
        "y": 1940,
        "wires": [
            [
                "af4781d.adb9d8",
                "c3622ac9.eb89e8"
            ]
        ]
    },
    {
        "id": "3c106e84.d17252",
        "type": "catch",
        "z": "3f6161ba844a17b6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1200,
        "y": 1720,
        "wires": [
            [
                "903b3652.4a1bd8"
            ]
        ]
    },
    {
        "id": "ed00427b.5626d",
        "type": "ui_toast",
        "z": "3f6161ba844a17b6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "grey",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Issue Occured",
        "name": "Error",
        "x": 1630,
        "y": 1760,
        "wires": []
    },
    {
        "id": "af4781d.adb9d8",
        "type": "link out",
        "z": "3f6161ba844a17b6",
        "name": "",
        "links": [
            "1d60f3f4.a6a93c"
        ],
        "x": 1535,
        "y": 1880,
        "wires": []
    },
    {
        "id": "c3622ac9.eb89e8",
        "type": "debug",
        "z": "3f6161ba844a17b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 1980,
        "wires": []
    },
    {
        "id": "903b3652.4a1bd8",
        "type": "change",
        "z": "3f6161ba844a17b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Some errors occured. Sorry",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1740,
        "wires": [
            [
                "ed00427b.5626d"
            ]
        ]
    },
    {
        "id": "e84b85dc.f5c6e8",
        "type": "comment",
        "z": "3f6161ba844a17b6",
        "name": "Special Note",
        "info": "Outlook gives errors when sending large number of emails within a period of time.\n\n**\"Error: Message failed: 432 4.3.2 Concurrent connections limit exceeded. Visit https://aka.ms/concurrent_sending for more information. [Hostname=TYZPR01MB3806.apcprd01.prod.exchangelabs.com]\"**",
        "x": 1860,
        "y": 860,
        "wires": []
    },
    {
        "id": "a24c97cf.e24168",
        "type": "ui_button",
        "z": "3f6161ba844a17b6",
        "name": "reset graphs",
        "group": "4691501.3815cb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Graphs",
        "tooltip": "reset all statistic graphs",
        "color": "green",
        "bgcolor": "red",
        "icon": "fa-refresh",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 860,
        "wires": [
            [
                "f17f04c4ac52ec4c",
                "cb1ec6fc1fc10e8d",
                "7b1b7698333bbb1f",
                "4527977f.957bb8"
            ]
        ]
    },
    {
        "id": "26ce3b4c.d703d4",
        "type": "ui_text",
        "z": "3f6161ba844a17b6",
        "group": "41e8c806.ff1b68",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Test1",
        "label": "Send currently available Data to the Email",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1240,
        "y": 1880,
        "wires": []
    },
    {
        "id": "4527977f.957bb8",
        "type": "ui_chart",
        "z": "3f6161ba844a17b6",
        "name": "Hmidity Chart",
        "group": "df8f96c4.770348",
        "order": 1,
        "width": "6",
        "height": "8",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for Data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1260,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "9a2f337c9de491b3",
        "type": "mqtt-broker",
        "name": "UoMGrp8",
        "broker": "5g-vue.projects.uom.lk",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "77afcbb3.ef5624",
        "type": "ui_group",
        "name": "Smoke",
        "tab": "14e592710ac9e1f7",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "09c305af1a5267f0",
        "type": "ui_group",
        "name": "Security Breach",
        "tab": "14e592710ac9e1f7",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bd35ad1b55ef9de2",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "14e592710ac9e1f7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "71847496284d4f49",
        "type": "ui_group",
        "name": "Gas",
        "tab": "14e592710ac9e1f7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5cfcd1af811ee844",
        "type": "ui_group",
        "name": "Power",
        "tab": "14e592710ac9e1f7",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c6cb9c6ad2f31727",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "14e592710ac9e1f7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f22a766bb0a52f12",
        "type": "ui_group",
        "name": "Motion detection",
        "tab": "14e592710ac9e1f7",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fdc4f014ccaa9c92",
        "type": "ui_group",
        "name": "Smokes",
        "tab": "d8323389d966cb5e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7dcbe8f43d09b3eb",
        "type": "ui_group",
        "name": "Temperature ",
        "tab": "d8323389d966cb5e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a18e364c62035dfc",
        "type": "ui_group",
        "name": "Gas",
        "tab": "d8323389d966cb5e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d7322d740dcf268",
        "type": "ui_group",
        "name": "Email Details",
        "tab": "9a1d45d8.582548",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "41e8c806.ff1b68",
        "type": "ui_group",
        "name": "Reporter",
        "tab": "9a1d45d8.582548",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4691501.3815cb",
        "type": "ui_group",
        "name": "Reset Graphs",
        "tab": "d8323389d966cb5e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "df8f96c4.770348",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "d8323389d966cb5e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "14e592710ac9e1f7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-superpowers",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d8323389d966cb5e",
        "type": "ui_tab",
        "name": "Stats",
        "icon": "fa-line-chart",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a1d45d8.582548",
        "type": "ui_tab",
        "name": "Notifier",
        "icon": "fa-envelope-o",
        "disabled": false,
        "hidden": false
    }
]