IoT_Exercises/190388D_Ex_1.json
[
    {
        "id": "6d5e1f23cefa09ce",
        "type": "tab",
        "label": "Exercise 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4976534f770425fa",
        "type": "inject",
        "z": "6d5e1f23cefa09ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "6869654e83f04a2d"
            ]
        ]
    },
    {
        "id": "e9d3e93c808fea2c",
        "type": "inject",
        "z": "6d5e1f23cefa09ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "6869654e83f04a2d"
            ]
        ]
    },
    {
        "id": "3ab5f08361b770dc",
        "type": "inject",
        "z": "6d5e1f23cefa09ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9",
        "payloadType": "num",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "6869654e83f04a2d"
            ]
        ]
    },
    {
        "id": "9dcadd358f92ec61",
        "type": "inject",
        "z": "6d5e1f23cefa09ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "13",
        "payloadType": "num",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "6869654e83f04a2d"
            ]
        ]
    },
    {
        "id": "6869654e83f04a2d",
        "type": "rbe",
        "z": "6d5e1f23cefa09ce",
        "name": "Value changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "bfe774bb5bc8ba9a",
                "25a1f1719fa9e1af"
            ]
        ]
    },
    {
        "id": "bfe774bb5bc8ba9a",
        "type": "debug",
        "z": "6d5e1f23cefa09ce",
        "name": "Value change notification",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Value changed\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "25a1f1719fa9e1af",
        "type": "switch",
        "z": "6d5e1f23cefa09ce",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "jsonata_exp",
                "v": "msg.payload % 3 = 0",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "c3850ebf14a7f2d0"
            ],
            [
                "2d3ef503ea12b018"
            ],
            [
                "db1ca9c553675c69"
            ]
        ]
    },
    {
        "id": "c3850ebf14a7f2d0",
        "type": "debug",
        "z": "6d5e1f23cefa09ce",
        "name": "Greater than 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Greater than 20\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "2d3ef503ea12b018",
        "type": "debug",
        "z": "6d5e1f23cefa09ce",
        "name": "Divisible by 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Divisible by 3\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "db1ca9c553675c69",
        "type": "change",
        "z": "6d5e1f23cefa09ce",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "received_number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Movindi Mathotaarachchi\",\"index\":\"190388D\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 360,
        "wires": [
            [
                "31db0c8a5c84e682",
                "0bd36ef512172b4e"
            ]
        ]
    },
    {
        "id": "31db0c8a5c84e682",
        "type": "debug",
        "z": "6d5e1f23cefa09ce",
        "name": "Restructured message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 380,
        "wires": []
    },
    {
        "id": "0bd36ef512172b4e",
        "type": "function",
        "z": "6d5e1f23cefa09ce",
        "name": "Function",
        "func": "let indexno ;\nindexno = msg.payload.index.substr(0,6);\nmsg.payload.answer = msg.received_number + parseInt(indexno);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 460,
        "wires": [
            [
                "aaa7ccf4968bfbd3"
            ]
        ]
    },
    {
        "id": "aaa7ccf4968bfbd3",
        "type": "debug",
        "z": "6d5e1f23cefa09ce",
        "name": "Final message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 500,
        "wires": []
    }
]